# Node / NestJS
node_modules/
dist/
.eslintcache

# Prisma local artifacts
prisma/*.db
prisma/*.db-journal

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# 로컬 MySQL 데이터
data/

# Env / secrets
.env
.env.*
!.env.example
